body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1612520557101-48a83a15d1e9?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

#container-one, #container-two, #container-three {
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 1);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

.product-details h1{
	display: inline-block;
	position: relative;
	font-size: 25px;
	color: #344055;
	margin: 0;
}

#container-one .product-details h1:before {
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;
}

#container-one .product-details > p, #container-two .product-details > p, #container-three .product-details > p {
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
}

#container-one .product-details > h1, #container-three .product-details > h1 {
    font-size: 20px;
    margin-left: 20px;
}

#container-two .product-details > h1 {
    margin-left: 80px;
}

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}

.button-repo-project, .button-pages-project {
	transform: translateY(0px);
	transition: 0.3s linear;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}

.button-repo-project, .button-pages-project {
    width: 150px;
    border: 2px solid #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-repo-project, .button-pages-project  {
    background-color: rgba(255, 255, 255, 0.244);
    box-shadow: 2px 2px 10px 2px rgba(2, 101, 19, 1);
}

.button-pages-project {
    margin-top: 25px;
}

.button-repo-project a, .button-pages-project a {
    text-decoration: none;
    color: #000000;
}

.btn:hover .shopping-cart {transform: translateX(0%);}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#container-one img, #container-two img, #container-three img {
    width: 100%;
    height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
	text-align: center
}

.product-image:hover .info{
	transform: translateX(0);
}

.info ul li{
	transition: 0.3s ease;
}

.info ul li:hover{
	transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
	transition: all 0.3s ease-out;
}

.product-image:hover img {
	transform: scale(1.2, 1.2);
}

.project-display-container {
    margin-top: 70px;
    margin-bottom: 130px;
}

/*MAX WITH 750PX*/
@media (max-width: 750px) {
  
	#container-one, #container-two, #container-three {
	  width: 600px;
	}
  }
  
  /*MAX WITH 650PX*/
  @media (max-width: 650px) {
	#container-one, #container-two, #container-three {
	  width: 500px;
	}
  }
  
  /*MAX WITH 550PX*/
  @media (max-width: 550px) {
	#container-one, #container-two, #container-three {
	  width: 400px;
	}
	
	#container-one .product-details > h1, #container-two .product-details > h1, #container-three .product-details > h1 {
	  font-size: 15px;
	  width: 150px;
	  text-align: center;
	}
	
	#container-one .product-details > p, #container-two .product-details > p, #container-three .product-details > p {
	  font-size: 13px;
	  margin-left: 25px;
	}
	
	.product-details {
	  margin-left: -30px;
	}
	
	#container-two .product-details > h1 {
	  margin-left: 30px;
	}
	
	#container-two .product-details > p {
	  margin-left: 20px;
	}
	
	.info ul li:hover{
	  transform: translateX(-20px) scale(0.9);
  }
	
	.info h2 {
	  text-align: center;
	  font-size: 20px;
  }
  }