body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1612520557101-48a83a15d1e9?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.project-container {
    margin-top: 180px;
    margin-bottom: 150px;
}

#product-container, #product-container-one, #product-container-two {
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	margin-top: 50px;
    margin-bottom: 50px;
	height: 350px;
	width: 700px;
    display: inline-block;
	position: relative;
    border: 3px solid #1A472A;
}

/* PRODUCT DETAILS */
.project-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 350px;
	float: left;
	width: 40%;
}

.project-details h1 {
    font-size: 30px;
    width: 300px;
    text-align: center;
    display: inline-block;
	position: relative;
	margin: 0;
}

.project-details p {
    font-size: 17px;
    width: 300px;
    text-align: center;
}

#product-container, .project-details h1:before, #product-container-one {
    position: relative;
	right: 0%; 
	top: 30px;
	transform: translate(25px, -15px);
	display: inline-block;
	border-radius: 20px;
	font-size: 14px;
	padding: 5px;
	color: #ffffff;
	margin: 0;
}

#product-container, .project-details h1:before, .project-button-one {
    background: #0A3B7C;
}

#product-container-one, .project-button {
    background: #1A472A;
}

#product-container-one {
    border: 3px solid #0A3B7C;
}

/* END PRODUCT DETAILS */

/* CONTROL */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
}

.project-button, .project-button-one {
    border: 3px solid #ffffff;
	border-radius: 20px;
    width: 250px;
    height: 50px;
    margin-left: -30px;
    padding-top: 20px;
}

.project-button a, .project-button-one a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
}

/* END CONTROL */

/* IMAGE */
.project-image {
	transition: all 0.5s ease-out;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	height: 310px;
	width: 350px;
	display: auto;
}

.whole-picture-container {
    width: 300px;
    margin-top: 20px;
    height: 310px;
}

.project-image img {
    width: 350px;
    border-radius: 20px;
    height: 300px;
    margin-top: 10px;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: center;
    font-size: 120%;
    cursor: no-drop;
    margin-top: 10px;
    color: #FFF;
    height: 330px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
}

.project-image:hover .info{
    transform: translateX(0);
}

.info ul li{
    transition: 0.5s ease;
}
.info ul li:hover{
    transform: translateX(20px) scale(1.1);
}

.product-image:hover img {
    transition: all 0.5s ease-out;
}

.product-image:hover img {
    transform: scale(1.5, 1.5);
}
