header {
    float: left;
    display: flex;
    background-color: rgba(255, 255, 255, 0.244);
    box-shadow: 2px 2px 10px 2px rgba(2, 101, 19, 1);
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 999;
  }

  .header-container {
    display: flex;
  }

  .name-header {
    margin-left: 600px;
    margin-top: 10px;
  }

  .name-header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
  }

  #about-header, #projects-header, #contact-header {
    margin-top: 80px;
  }

  #about-header {
    margin-left: -330px;
  }

  #projects-header {
    margin-left: 50px;
  }

  #contact-header {
    margin-left: 50px;
  }

  #about-header a, #projects-header a, #contact-header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
  }

  footer {
    float: left;
    display: flex;
    background-color: rgba(255, 255, 255, 0.244);
    box-shadow: 2px 2px 10px 2px rgba(2, 101, 19, 1);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 999;
    bottom: 0;
  }

  .whole-footer-container {
    display: flex;
    margin-left: 350px;
  }

  .whole-footer-container h1 {
    font-size: 25px;
    color: #ffffff;
  }

  .whole-footer-container a {
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer-container-one {
    width: 400px;
    text-align: center;
  }
  
  .footer-container-two {
    width: 500px;
    text-align: center;
  }

  .footer-container-two h1 {
    margin-left: 70px;
  }

  .footer-container-two img {
    margin-top: 60px;
  }
  
  .linkding-footer img {
    margin-left: -280px;
  }

  .instagram-footer img {
    margin-left: -130px;
  }

  .x-footer img {
    margin-left: -10px;
  }

  .footer-container-two {
    display: flex;
    margin-left: 50px;
  }

  /*MAX WITH 1100PX*/
@media (max-width: 1100px) {
  .name-header {
    margin-left: 400px;
  }
  
  
  .footer-container-one {
    margin-left: -220px;
  }
}

/*MAX WITH 1000PX*/
@media (max-width: 1000px) {
  .name-header {
    margin-left: 360px;
  }
  
  .footer-container-one {
    margin-left: -250px;
  }
}

/*MAX WITH 900PX*/
@media (max-width: 900px) {
  .name-header {
    margin-left: 300px;
    padding-top: 10px;
  }
  
  .name-header a {
    font-size: 40px;
  }
  
  #about-header a, #projects-header a, #contact-header a {
    font-size: 20px;
  }
  
  #about-header {
    margin-left: -280px;
  }
  
  .footer-container-one {
    margin-left: -290px;
  }
}

/*MAX WITH 800PX*/
@media (max-width: 800px) {
  .footer-container-one {
    margin-left: -330px;
  }
  
  .footer-container-two {
    margin-left: -10px;
  }
}

/*MAX WITH 700PX*/
@media (max-width: 700px) {
  .name-header {
    margin-left: 230px;
  }
  
  .footer-container-one {
    margin-left: -350px;
  }
  
  .footer-container-two {
    margin-left: -25px;
  }
}

/*MAX WITH 600PX*/
@media (max-width: 600px) {
  .name-header {
    margin-left: 200px;
    padding-top: 20px;
  }
  
  .name-header a {
    font-size: 30px;
  }
  
  #about-header a, #projects-header a, #contact-header a {
    font-size: 17px;
  }
  
  #about-header {
    margin-left: -230px;
  }
  
  .footer-container-one {
    margin-left: -380px;
  }
  
  .footer-container-two {
    margin-left: -50px;
  }
  
  .whole-footer-container h1 {
    font-size: 20px;
  }
  
  .whole-footer-container a {
    font-size: 15px;
  }
  
  .linkding-footer {
    margin-left: 20px;
  }
}