.gwendolyn-regular {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .gwendolyn-bold {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.line {
    width: 1000px;
    height: 2px; /* Adjust height as needed */
    background-color: #fffa00; /* Change color as needed */
}

.home-info-stuff {
    margin-top: 200px;
}

#home-info-header h1 {
    font-size: 80px;
    font-family: 'Gwendolyn', cursive;
}

#home-info-header p {
    font-size: 50px;
    margin-top: -40px;
    font-family: 'Cormorant', serif;
}

.home-link-container {
    display: flex;
}

.home-link-one, .home-link-two, .home-link-three {
    width: 250px;
    margin-top: 25px;
}

.home-link-one {
    margin-left: 50px;
}

.home-link-two, .home-link-three {
    margin-left: 75px;
}

.home-link-one a, .home-link-two a, .home-link-three a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cormorant', serif;
    color: #ffffff;
}

/*MAX WITH 1100PX*/
@media (max-width: 1100px) {
    #home-info-header, .home-link-container {
      width: 75%;
    }
    
    #home-info-header h1 {
      margin-left: 200px;
      font-size: 60px;
    }
    
    #home-info-header p {
      font-size: 40px;
      margin-left: 180px;
    }
    
    .home-link-container a {
      font-size: 25px;
    }
    
    .home-link-one {
      margin-left: 160px;
    }
    
    .line {
      width: 900px;
      margin-left: 40px;
    }
  }